{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ошибка 404</title>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    </head>
    <body>
        <div id="notf">
            <h1>Ошибка 404 :(</h1>
            <p>Страница, которую вы искали, не найдена.</p>
            <p>Не волнуйтесь, время от времени это случается.</p>
            <p>Скорее всего вы ввели неверный адрес страницы.</p>
            <img src="https://avatars.mds.yandex.net/i?id=70062d2a486498735502b51349e319352e2dc875-4809955-images-thumbs&n=13">
        </div>

    </body>
</html>