{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Добавить рецепт</title>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    </head>
    <body>
        <div class="hhead">
            <div id="header" title="На главную">
                <a href="{% url 'house' %}"><ul>
                    <p style="color: black;"> Cooking</p>
                    <p style="color: rgb(0, 202, 67);">Library</p>
                </ul></a>
            </div>
            <div id="header2">
                <div id="header21">
                    <a href="{% url 'profile_page' %}" title="Нажмите, чтобы перейти в свой профиль">Мой профиль</a>
                </div>
                <div id="header22" class="input-group flex-nowrap">
                    <input type="search" class="form-control" placeholder="Введите название блюда" aria-describedby="addon-wrapping">
                    <span class="input-group-text" id="search" width="100px">Поиск</span>
                </div>
            </div>
        </div>

        <form id="addrec" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Новый рецепт:</p>
            <div id="addrec1">
                <ul>{{ form.category }}</ul>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="nazvanie">Название блюда</span>
                    {{ form.title_recipe }}<br>
                </div><br>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="kkal">Калорийность</span>
                    {{ form.count_calories }}
                </div><br>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="kkal">Количество порций</span>
                    {{ form.count_servings }}
                </div><br>
                <div class="input-group mb-3">
                    <span class="input-group-text">Время готовки</span>
                    {{ form.need_time }}
                    <span class="input-group-text">мин</span>
                </div><br>
                <div class="input-group">
                    <span class="input-group-text">Ингредиенты</span>
                    {{ form.need_products }}
                </div><br>
                <a href="{% url 'addproduct_page'%}"><button type="button" style="margin-bottom: 20px;" class="btn btn-outline-dark">Добавить ещё ингредиент</button></a><br><br>
                <div class="form-group">
                    <label for="recipe">Инструкция приготовления</label><br>
                    {{ form.recipe_description }}
                </div><br>
            </div>
            <button type="submit" id="add" class="btn btn-outline-dark" style="margin-left: 44%;">Добавить рецепт</button>
        </form>
    </body>
</html>